<small *ngIf ="invalidLogin">{{errorMessage}}</small>
<div class="login-main-wrapp">
<div class="login-container">
    <h2>Login</h2>
    <form>
        <div class="form-group">
            <figure>
                <i class="fa fa-user"></i>
            </figure>
            <input type="text" class="form-control" placeholder="Username"  [(ngModel)] ="username">
        </div>
        <div class="form-group">
            <figure>
                <i class="fa fa-key"></i>
            </figure>
            <input type="password" placeholder="Enter your Password" class="form-control"  [(ngModel)] ="password">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-block btn-login" (click) = "authenticateUser()">
        </div>
        <div class="login-sign-up">
            Do you have an account? <a routerLink = "/register">Sign Up</a>
        </div>
    </form> 
</div>
</div>